body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
}

.column-container {
  width: 100vw;

  .column {
    float: left;
    margin: 0 $margin;

    &.gifs {
      width: 40%;
    }

    &.tags {
      .tag-box {
        position: fixed;
        top: 200px;
        right: $margin;
        width: calc(60% - $margin * 3);
      }
    }
  }
}

@media (max-width: 720px) {
  body: {
    font-size: 11pt;
  }

  .column-container {
    width: 100%;

    .column {
      &.gifs {
        width: 100%;
        margin: 0;
      }

      &.tags {
        position: fixed;
        bottom: 0;

        .tag-box {
          width: 100%;
          top: unset;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}

* {
  box-sizing: border-box;
}
