.gif {
  width: 100%;

  canvas,
  img {
    width: 100%;
  }
}

.swapper {
  user-select: none;

  &.enabled {
    canvas {
      display: none;
    }
  }

  &:not(.enabled) {
    img {
      display: none;
    }
  }
}
