$gutter: 10px;
$maxw-colw: ();
$cols-maxw: (
  1: 500px,
  2: 750px,
  3: 1000px,
  4: 1250px,
  5: 1500px,
  6: 1750px
);

@each $column in map-keys($cols-maxw) {
  $maxw-colw: map-merge(
    $maxw-colw, (
      map-get($cols-maxw, $column):
      calc((100% - (#{$gutter} * (#{$column} - 1))) / #{$column})
    )
  );
}

body {
  margin: $gutter;
}

.gutter-sizer {
  width: $gutter;
}

@each $bp in map-keys($maxw-colw) {
  @media screen and (min-width: #{$bp}) {
    .packery-item,
    .grid-sizer {
      width: map-get($maxw-colw, $bp);
    }
  }
}

.packery-item > canvas {
  width: 100%;
}

.gif-wrapper {
  &.enabled {
    canvas {
      display: none;
    }
  }

  &:not(.enabled) {
    img {
      display: none;
    }
  }
}
