@media (max-width: 720px) {
  body: {
    font-size: 11pt;
  }

  .column-container {
    width: 100%;

    .column {
      &.gifs {
        width: 100%;
        margin: 0;
      }

      &.info {
        position: fixed;
        bottom: 0;

        .info-liner {
          width: 100%;
          top: unset;
          bottom: 0;
          right: 0;
          border-radius: 0;
        }
      }
    }
  }

  .tag-box .tag-list,
  .gif-name {
    white-space: nowrap;
    overflow-x: scroll;
    display: block !important;

    &::-webkit-scrollbar {
      height: 0;
    }
  }

  .copy-icon::after {
    display: none !important;
  }
}
