.tag-box {
  background-color: $lightergrey;
  border-radius: $radius;
  padding: $padding;

  .gif-name {
    font-size: $font-size;
    position: relative;
    user-select: none;
    word-wrap: break-word;

    .sliding-ul {
      max-width: 100%;
      word-wrap: break-word;
    }

    &.copy-icon::after {
      content: url('../assets/images/copy.svg');
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      height: 24px;
      width: 24px;
    }

    &:hover {
      cursor: pointer;

      &.copy-icon::after {
        display: inline-block;
      }
    }
  }

  p {
    margin: 0;
  }

  .tag-list {
    line-height: 2;
    word-wrap: normal;
    display: inline;

    .tag-wrapper {
      .login-tooltip {
        color: $white;
        background-color: $darkgrey;
        border-radius: 3px;
        font-size: 8pt;
        position: absolute;
        padding: 3px 8px;
        bottom: -20px;
        left: -8px;
        display: none;
      }

      &.disabled {
        .tag {
          opacity: 0.4;
        }

        &:hover {
          .login-tooltip {
            display: block;
          }
        }
      }

      &:not(.disabled) {
        .tag {
          .add-tag,
          .del-tag {
            cursor: pointer;
          }

          .add-tag:hover {
            color: $green;
          }

          .del-tag:hover {
            color: $red;
          }
        }
      }
    }

    .tag {
      color: $white;
      background-color: $lightgrey;
      font-size: 10pt;
      border-radius: 3px;
      padding: 3px 6px;
      margin-right: 4px;
      white-space: pre;
      user-select: none;

      .break {
        white-space: normal;
      }

      input {
        border: none;
        background-color: transparent;
        color: $white;
        font-size: 10pt;
        font-family: 'Open Sans', sans-serif;
        width: 75px;

        &::placeholder {
          color: $lightergrey;
        }

        &:focus {
          outline: none;
        }
      }

      .add-tag,
      .del-tag {
        margin-left: 5px;
        cursor: default;
      }
    }
  }
}
