.tag-list {
  line-height: 2.0;
  margin: -4px 0 0 0;
  padding: 4px 6px;
  word-wrap: normal;
  display: none;
  position: absolute;
  background-color: white;
  width: calc(100% - 14px);
  border: 1px solid $lightgrey;
  border-top-width: 0;
  border-radius: 0 0 5px 5px;
  z-index: 999;

  .tag {
    color: $white;
    background-color: $lightgrey;
    font-size: 10pt;
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;
    padding: 3px 6px;
    margin-right: 4px;
    white-space: pre;

    .break {
      white-space: normal;
    }

    .add-tag,
    .del-tag {
      cursor: pointer;
      margin-left: 5px;
    }

    .add-tag:hover {
      color: $green;
    }

    .del-tag:hover {
      color: $red;
    }
  }
}

.gif-wrapper:hover {
  .tag-list {
    height: auto;
    display: inline;
  }
}
