.tag-box {
  background-color: $lightergrey;
  border-radius: 3px;
  padding: 15px;

  .gif-name {
    font-size: 1.4rem;

    &.copy-icon::after {
      content: url('../assets/images/copy.svg');
      position: absolute;
      top: 0;
      right: 10px;
      size: 18px;
    }
  }

  p {
    margin: 0;
  }

  .tag-list {
    line-height: 2;
    word-wrap: normal;
    display: inline;

    .tag {
      color: $white;
      background-color: $lightgrey;
      font-size: 10pt;
      border-radius: 3px;
      padding: 3px 6px;
      margin-right: 4px;
      white-space: pre;
      user-select: none;

      .break {
        white-space: normal;
      }

      .add-tag,
      .del-tag {
        cursor: pointer;
        margin-left: 5px;
      }

      .add-tag:hover {
        color: $green;
      }

      .del-tag:hover {
        color: $red;
      }
    }
  }
}
